# --- Arquivos Compilados e Logs ---
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- Maven (Essencial para seu projeto) ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# --- VS Code (Se usar) ---
.vscode/
*.code-workspace

# --- Sistema Operacional ---
.DS_Store
Thumbs.db